.asks{
    /* background-color: var(--scale-gray-12); */
    padding-top: 120px;
    padding-bottom: 120px;
}

.asks h2{
    margin-bottom: 60px;
}


.asks dl > div{
    padding: 20px;
    border-radius: 4px;
}

.asks dl > div:nth-child(odd){
    background-color: var(--scale-gray-01);
}

.asks button{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.asks button::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color-01);
}

.asks button::after{
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url("../../img/icons/arrow-open.svg")
}

.asks button:hover::after,
.asks button[aria-expanded="true"]::after{
    transform: rotate(180deg);
    transition: .3s;
}

.js .asks dd{
    display: none;
}

.js .asks dd.active{
    display: block;
}

.asks dd{
    padding-left: 20px;
    padding-top: 16px;
    max-width: 80ch;
}

/*--------------------------------
       Mobile media-queries
----------------------------------*/

@media (max-width: 800px){
    .asks{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .asks h2{
        margin-bottom: 40px;
    }
}