#budget {
    background: linear-gradient(var(--scale-gray-11) 600px, var(--scale-gray-01) 0px);
  }
  
  .budget {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
  }
  
  .budget h2 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .budget h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--primary-color-01);
    position: absolute;
    left: -12px;
  }
  
  .budget-product,
  .budget-data {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .budget-product {
    border-radius: 5px 0 0 5px;
    background: var(--scale-gray-12);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
  }
  
  .budget-product > * {
    grid-column: 1/-1;
  }
  
  .budget-product > label {
    grid-column: initial;
  }
  
  .budget-product label {
    font: 400 1rem/1.5 "Poppins", sans-serif;
    color: var(--scale-gray-04);
    background-color: var(--scale-gray-10);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid var(--scale-gray-10);
  }
  
  .budget-product input:checked + label {
    background: var(--white-color-01);
    color: var(--scale-gray-11);
  }
  
  .budget-product label::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--scale-gray-06);
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .budget-product input:checked + label::before {
    border-color: var(--scale-gray-07);
    box-shadow: inset 0 0 0 3px var(--white-color-01), inset 0 0 0 6px var(--scale-gray-07);
  }
  
  .budget-product label:hover {
    background-color: var(--scale-gray-09);
    border-color: var(--scale-gray-09);
  }
  
  .budget-product input:focus + label {
    box-shadow: 0 0 0 2px var(--primary-color-01);
    border-color: var(--scale-gray-12);
  }
  
  .budget-product label span {
    display: none;
  }
  
  .budget-product input:checked + label span {
    display: inline-block;
  }
  
  .budget-product input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .budget-data {
    border-radius: 0 5px 5px 0;
    background: var(--white-color-01);
  }
  
  .budget-content {
    display: none;
  }
  
  .budget-content h2,
  .budget-data h2:nth-of-type(n + 2) {
    margin-top: 20px;
  }
  
  #bikcraft:checked ~ #budget-bikcraft,
  #insurance:checked ~ #budget-insurance {
    display: grid;
    gap: 20px;
  }
  
  .budget-details {
    display: none;
    background: var(--white-color-01);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    align-items: center;
  }
  
  .budget-details li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .budget-details li img {
    width: 16px;
    margin-right: 8px;
  }
  
  .budget-product input:checked + label + .budget-details {
    display: grid;
  }

  /*--------------------------------
       Mobile media-queries
----------------------------------*/
  
  @media (max-width: 1200px) {
    .budget-product,
    .budget-data {
      padding: 32px;
    }
  }
  
  @media (max-width: 800px) {
    .budget {
      grid-template-columns: 1fr;
    }
    .budget-product {
      border-radius: 5px 5px 0 0;
    }
    .budget-data {
      border-radius: 0 0 5px 5px;
    }
  }
  
  @media (max-width: 400px) {
    .budget-product {
      grid-template-columns: 1fr;
    }
  }
  